<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestYourselfTennisQuiz">


        <!-- RETRY INCORRECT QUESTIONS SCREEN -->
        <activity
            android:name=".RetryActivity"
            android:exported="false" />


        <!-- REVIEW ANSWERS SCREEN -->
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />


        <!-- QUIZ RESULTS SCREEN -->
        <activity
            android:name=".ResultActivity"
            android:exported="false" />


        <!-- QUIZ QUESTIONS SCREEN -->
        <activity
            android:name=".QuizActivity"
            android:exported="false" />


        <!-- MAIN / HOME SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <!-- MainActivity opens when the app starts -->
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>